
.chat-container {
  display: flex;
  height: 600px; 
}

.user-list {
  width: 20%;
  border-right: 1px solid black;
  overflow-y: auto;
  height: 100%;
}

.chat-window {
  width: 70%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.searchbar{
  margin-bottom: 15px;
  width: 90%;
}

.search-results {
  background-color: #f0f0f0; 
  border: 1px solid #000; 
}

.user {
  cursor: pointer;
  padding: 5px;
}

.message {
  text-align: left;
  margin-bottom: 10px;
}

.message.self {
  text-align: right;
}

.message-form {
  display: flex;
  padding-top: 15px;
  justify-content: space-around;
  border-top: 1px solid black;
}

.message-input {
  width: 80%;
}

.send-button {
  width: 15%;
}

.input-elem .MuiInputBase-root {
  height: 37px;
}
